.mainBlock {
    padding: 70px 0 70px 0;
    min-height: 100vh;
}

.block {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    width: 58%;
    padding: 0 15px 0 15px;

}

.description {

}

.description h3 {
    margin: 0 0 2px 0;
    font-weight: 800;
    font-size: 30px;
}

.description span {
    display: inline-block;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 14px;
}

.description p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

.description p b {
    font-weight: 700;
}

.photo {
    width: 428px;
    height: 500px;
    position: relative;
}

.photo .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.dots {
    position: absolute;
    top: 128px;
    left: -30px;
    right: 0;
    bottom: 0;
    width: 81%;
    height: 80%;
    background-repeat: repeat;
    background-position: center;
}

@media screen and (max-width: 1273px) {
    .photo {
        width: 344px;
        height: 400px;
    }
    .dots{
        height: 76%;
    }
}

@media screen and (max-width: 1023px) {
    .block{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .photo {
        width: 690px;
        height: 700px;
        margin-bottom: 80px;
    }

    .dots{
        height: 86%;
    }
    .text {
        width: 100%;
    }

}
@media screen and (max-width: 770px) {
    .block{
        width: 90%;
    }
}