* {
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}


body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #343434;
    font-weight: 400;
    background-color: #fff;;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
