.header {
  height: 80px;
  background-color: #fff;
  color: #111;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 20px 0 30px;
  border: none;
  border-radius: 0;
  width: 100%;
  flex-shrink: 0;
  position: fixed;
  z-index: 3;
  transition: 0.3s;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 80px 0 80px;
    @media screen and (max-width: 770px) {
      padding: 0 20px 0 20px;
    }

    .logo {
      float: left;
      padding-top: 20px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;

    }
  }
}
.show{
  background: none;
  box-shadow: none;
  color: #fff;
}
