.header {
  height: 80px;
  background-color: #1c1c1c;
  display: flex;
  padding: 20px 0 30px;
  border: none;
  border-radius: 0;
  width: 100%;
  flex-shrink: 0;

  .container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .logo {
      float: left;
      padding-top: 20px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

