@import "../common/style/mixins";

.header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .caption {
    color: #fff;
    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.4;
      z-index: 0;
    }

    .title {
      text-align: center;
      z-index: 1;
      position: relative;


      h5 {
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 10px;
        line-height: 1.1;
      }
    }

    h1 {
      margin: 0;
      font-weight: 200;
      font-size: 3.4rem;
      line-height: 1.2;
      position: relative;
      @include media(700px) {
        font-size: 2.4rem;
      }
      @include media(500px) {
        font-size: 1.7rem;
      }
    }
  }

  .socialIcon {
    margin: 20px 0 0 0;
    text-align: center;
    z-index: 2;
    position: relative;


    a {
      margin: 10px;

      span {
        img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}